.row
  .small-12.columns
    = render partial: 'shared/errores_crud', locals: { registro: @conjunto_de_datos }

= simple_form_for(@conjunto_de_datos) do |f|
  .row
    .small-12.columns
      = f.input :nombre
  .row
    .small-12.columns
      = f.input :descripcion
  .row
    .small-12.medium-6.columns
      - if @conjunto_de_datos.modificable?
        = f.association :conjunto_de_unidades_de_analisis, label_method: :nombre
      - else
        = f.association :conjunto_de_unidades_de_analisis, label_method: :nombre, input_html: {disabled: 'disabled'}
    .small-12.medium-6.columns
      - if @conjunto_de_datos.modificable?
        = f.association :covariable, label_method: :nombre
      - else
        = f.association :covariable, label_method: :nombre, input_html: {disabled: 'disabled'}

  %br
  %br

  .row
    .small-12.medium-6.large-4.columns
      = f.button :submit, "Guardar"
