= content_for :panel do
  = render partial: 'shared/panel', locals: { titulo: "Conjuntos de datos", accion: "Ver", botones: [{texto: "Listado", ruta: conjuntos_de_datos_path}, {texto: "Modificar", ruta: edit_conjunto_de_datos_path(@conjunto_de_datos)}, {texto: "Tabla", ruta: tabla_de_datos_del_conjunto_path(@conjunto_de_datos)}]}

.row
  .small-12.columns
    %h5= @conjunto_de_datos.nombre
.row
  .small-12.columns
    %label Descripción
    %h6.input-panel
      - @conjunto_de_datos.descripcion.split("\n").each do |linea|
        = linea
        %br
.row
  .small-12.columns
    %label Conjunto de unidades de análisis
    %h6.input-panel= @conjunto_de_datos.conjunto_de_unidades_de_analisis.nombre

.row
  .small-12.columns
    %label Covariable
    - if @conjunto_de_datos.covariable.present?
      %h6.input-panel= @conjunto_de_datos.covariable.nombre
    - else
      %h6.input-panel= "<em>No se seleccionó ninguna covariable</em>".html_safe
