- if usuario_autenticado?
  -# Ejemplo de opción de menú con verificación de permisos de Acl9
  -# if usuario_actual.has_role?("rol", on: Modelo)
    %li.has-dropdown{ class: nav_bar_activo?("modelos")}
      = link_to 'Modelo', "#"
      %ul.dropdown
        - if usuario_actual.has_role?("rol", on: Modelo)
          %li
            = link_to 'Acción', ruta
  %li.has-dropdown{ class: nav_bar_activo?("conjuntos_de_unidades_de_analisis")}
    = link_to 'Unidades', "#"
    %ul.dropdown
      %li
        = link_to 'Listado de conjuntos', conjuntos_de_unidades_de_analisis_path
      %li
        = link_to 'Nuevo conjunto', new_conjunto_de_unidades_de_analisis_path
  %li.has-dropdown{ class: nav_bar_activo?("covariables")}
    = link_to 'Covariables', "#"
    %ul.dropdown
      %li
        = link_to 'Listado de covariables', covariables_path
      %li
        = link_to 'Nueva covariable', new_covariable_path
  %li.has-dropdown{ class: nav_bar_activo?("conjuntos_de_datos")}
    = link_to 'Datos', "#"
    %ul.dropdown
      %li
        = link_to 'Listado de conjuntos', conjuntos_de_datos_path
      %li
        = link_to 'Nuevo conjunto', new_conjunto_de_datos_path
  %li.has-dropdown{ class: nav_bar_activo?("graficos")}
    = link_to 'Gráficos', "#"
    %ul.dropdown
      %li
        = link_to 'Listado de gráficos', graficos_path
      %li
        = link_to 'Nuevo gráfico', new_grafico_path
