!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'FunnelPLOTS'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'FunnelPLOTS'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navegacion'
    %main{:role => "main"}
      .row.collapse.full-width
        .small-12.columns
          .panel{style: "padding: 0.5rem"}
            = yield :panel
      .row
        .small-12.columns
          = render 'layouts/mensajes'
      .row.show-for-small-only
        .small-12.columns
          = yield :titulo_en_cuerpo
      = yield
